.main
{
	max-width: 980px;
	margin: auto;
}


.item-size70pr {
	width: 20px;

	background: red;
}

.w5p
{
	width: 5%;
}

.w15p
{
	width: 15%;
}


.w25p
{
	width: 25%;
}


.blog-footer {
  padding: 1rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;

}


.t-d-n
{
	text-decoration:  none;
}

.t-a-c
{
	text-align: center;
}
